main{
  font-size:25px;
  flex-direction:column;
  display:flex;
  justify-content:center;
  line-height:0.1em;
}
p,h1,h4{
  display:flex;
  justify-content:center;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
   text-size-adjust: auto;
   text-size-adjust: 80%;
   text-size-adjust: initial;


}
p{
  color:#006400;
}h1{
  color:red;
}

span{
  color:blue;
}
.text{
  font-family: 'Great Vibes', cursive;
  font-size:90%;
}
.foot p{
  background-color: #ff5733;
  padding: 15px;
  border-top-right-radius:15px; 
  border-bottom-left-radius:15px;   
  font-size: 16px;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans' sans-serif;
  font-weight: bold;
  float:right;
  color:#ccddcc;
